{% extends 'base_nlp.html' %}

{% block content %}
<div class="container-fluid">
    <h1>Modeluj: w2v</h1>
    <div class="card my-3">
        <div class="card-body">
            <div class="mb-3">
                <p>
                    Szkutnik wykorzystuje pretrenowane embeddingsy stworzone przez Polską Akademię Nauk w oparciu o Narodowy Korpus Języka Polskiego oraz polską Wikipedię.
                </p>
                <p>
                    W przeciwieństwie do dwóch pozostałych modeli obsługiwanych przez TR (LDA, NNMF) embeddingsy nie modelują analizowanego korpusu, ale <span class="fst-italic">język polski</span>. Mówiąc precyzyjniej: wersję języka polskiego z NKJP i Wikipedii. Pamiętaj o tym, jeżeli analizujesz teksty syntaktycznie i semantycznie odległe od standardowej polszczyzny (np. napisane w środowiskowym slangu).
                </p>

            </div>
            <form action="" method="POST" id="modeling-form">
                <h3 class="card-title">Zidentyfikuj tematy</h3>
                {{ modeling_form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="col-form-label pt-0">{{ modeling_form.pca_radio.label }}</legend>
                    <div class="d-flex flex-column">
                        {% for subfield in modeling_form.pca_radio %}
                            <div class="form-check form-check-inline">
                                {{ subfield(class="form-check-input", style="margin-left:1px") }}
                                {{ subfield.label(class="form-check-label ps-3") }}
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
                <div class="pca mb-3 d-none">
                    <fieldset class="form-group">
                        <legend class="col-form-label pt-0">{{ modeling_form.standardize_pcs.label }}</legend>
                        <div class="d-flex flex-column">
                            {% for subfield in modeling_form.standardize_pcs %}
                                <div class="form-check form-check-inline">
                                    {{ subfield(class="form-check-input", style="margin-left:1px") }}
                                    {{ subfield.label(class="form-check-label ps-3") }}
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                    <div class="mb-3">
                        {{ modeling_form.n_of_pcs_int.label(class="form-label") }}
                        {{ modeling_form.n_of_pcs_int(class="form-control") }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ modeling_form.n_of_ks_int.label(class="form-label") }}
                    {{ modeling_form.n_of_ks_int(class="form-control") }}
                </div>
                {{ modeling_form.submit_clustering(class="btn btn-primary") }}
            </form>
        </div>
    </div>

    {% if display_summary %}
        <div class="card my-3">
            <div class="card-body">
                <h3 class="card-title">Podsumowanie</h3>
                <div class="table-responsive">
                    {{ w2v.display_cluster_summary()|safe }}
                </div>
            </div>
        </div>
        <div class="card my-3">
            <div class="card-body">
                <h3 class="card-title">Wyniki</h3>
                <div class="table-responsive">
                    {{ w2v.display_results()|safe }}
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/pca_options_toggle.js') }}"></script>
{% endblock %}
