{% extends 'base_nlp.html' %}

{% block content %}
<div class="container-fluid">
    <div style="max-width: 950px;">
        <h2>
            <span class="fw-bold" style="color: #d293b7">Szkutnik</span> <span class="fst-italic">pozwoli Ci przeanalizować nieustrukturyzowane dane tekstowe: odpowiedzi na otwarte pytania w sondażu, dokumenty, nieuporządkowane listy słów i inne.</span>
        </h2>
        <h4 class="mb-3 pt-3">
            Aplikacja udostępnia interfejs dla całego cyklu analizy danych tekstowych: od załadowania i czyszczenia danych, przez prostą analizę eksploracyjną po analizę skupień, która pozwoli wyróżnić „naturalne“ kategorie lub tematy zawarte w danych.
        </h4>
        <a href="{{ url_for('nlp.load_data') }}">
            <button type="submit" class="btn btn-secondary" style="font-size: 20px;">Załaduj dane i zacznij analizę</button>
        </a>
        <br>
        <h3 class="pt-5">Szkutnik vs ChatGPT</h3>
        <p class="mb-3">
            ChatGPT również umożliwia analizę nieustrukturyzowanych danych tekstowych osobom bez kompetencji programistycznych. Rekomendujemy korzystanie z obu narzędzi w zależności od doraźnych potrzeb analitycznych.
        </p>
        <h4>ChatGPT</h4>
        <ul>
            <li>ChatGPT oferuje szeroki wachlarz technik, dużą elastyczność i komentarz w języku naturalnym do przeprowadzonych analiz.</li>
            <li>Warto wykorzystywać go do zadań, w których wektoryzacja tekstu odbywa się wyłącznie w oparciu o analizowany korpus (np. LDA, wektoryzacja metodą TF-IDF itp.).</li>
            <li>Interfejs ChataGPT nie umożliwia dostępu do <span class="fst-italic">pretrenowanych</span> wektorowych reprezentacji słów (<span class="fst-italic">word embeddings</span>) wliczając w to jego własne embeddingsy.</li>
            <li>Nie wiemy, co OpenAI robi z danymi przesyłanymi do ChataGPT.</li>
        </ul>
        <h4>Szkutnik</h4>
        <ul>
            <li>Szkutnik umożliwia analizę tekstu z wykorzystaniem pretrenowanych przez PAN embeddingsów, które stanowią typ danych, do którego nie mają dostępu modele językowe takie jak ChatGPT. Wykorzystywany przez Szkutnika zbiór zawiera 1 549 322 lematów. Do każdego przypisany jest 300-elementowy wektor. Segmentacje w oparciu o model umożliwia opcja word2vec w zakładce <em>Modeluj</em>.</li>
            <li>Szkutnika można wykorzystywać również do analiz, które wektoryzują tekst jedynie w oparciu o analizowany korpus. Obsługiwane modele to LDA i NNMF. Krótkie porównanie wszystkich technik i ich zastosowań znajduje się w zakładce <em>Modeluj</em>.</li>
            <li>Szkutnik daje również bardziej bezpośrednią kontrolę nad procesem czyszczenia danych i wybranymi parametrami modelowania tekstu (np. maksymalna/minimalna częstość występowania uwzględnianyh w modelu słów, liczba iteracji). Znacznie przyśpiesza iterację przez różne rozwiązania i pozwala na stworzenie ich puli (dla różnej liczby klastrów przy różnych konfiguracjach parametrów), z których analityk może subiektywnie wyłonić „najlepsze“.</li>
            <li>Szkutnik przechowuje i przetwarza dane na serwerze należącym do Stoczni.</li>
        </ul>

    </div>
</div>
{% endblock %}