@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Oswald:wght@200;300&family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

:root {
  --primary-color: #d9a6c3;
  --primary-hover-color: #c28fb0; /* Darker shade for hover */
  --primary-active-color: #b47f9f; /* Even darker for active */
  --primary-border-color: #c28fb0; /* Slightly darker border for better contrast */
  
  --secondary-color: #9bc8e5;
  --secondary-hover-color: #89b2cf; /* Darker shade for hover */
  --secondary-active-color: #7a9cb9; /* Even darker for active */
  --secondary-border-color: #89b2cf; /* Slightly darker border for better contrast */
}

.btn-primary {
  color: black;
  background-color: var(--primary-color);
  border-color: var(--primary-border-color);
}

.btn-primary:hover {
  background-color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
}

.btn-primary:focus, .btn-primary.focus {
  background-color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
  box-shadow: 0 0 0 0.2rem rgba(217, 166, 195, 0.5);
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--primary-active-color);
  border-color: var(--primary-active-color);
}

.btn-secondary {
  color: black;
  background-color: var(--secondary-color);
  border-color: var(--secondary-border-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover-color);
  border-color: var(--secondary-hover-color);
}

.btn-secondary:focus, .btn-secondary.focus {
  background-color: var(--secondary-hover-color);
  border-color: var(--secondary-hover-color);
  box-shadow: 0 0 0 0.2rem rgba(155, 200, 229, 0.5);
}

.btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  background-color: var(--secondary-active-color);
  border-color: var(--secondary-active-color);
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto Slab', serif;
  height: 100%;
  margin: 0;
  background-color: white;
  margin-top: 0px;
}

* {
  font-family: 'Raleway', sans-serif;
}

.main-title {
  font-size: 100px;
}

#sidenav {
  height: 100vh; /* 100% of the viewport height */
  position: fixed; /* Fixed position to stay in place when scrolling */
  z-index: 1; /* Ensures the sidenav is above other content */
  background-color: #d293b7;
}

/* Adjust the main content area */
main {
  margin-left: 200px; /* Adjust this value based on the width of your sidenav */
  padding: 1rem;
}

.card {
  background-color: #F7F7F7;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #000; /* Sets text color to black */
  text-decoration: none; /* Optional: Removes underline from links */
}

.content {
  margin-left: 200px;
  padding: 20px;
  margin-top: 80px; /* equal to topbar height */
}

#navbar-title {
  color: #d293b7;
  font-size: 30px;
}

.rounded-pill {
  background-color: #9bc8e5;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}


.topbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: var(--primary);
  color: var(--text);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
}

.container-fluid, .row {
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

table th {
  text-align: left;
}

table tr:hover {
  background-color: #F7F7F7;
}

.plus { color: #64b000; } /* Delicate Green */
.question { color: #9bc8e5; }
.x { color: #ff6961; } /* Delicate Red */

.legend p {
  display: inline-block;
  margin-right: 20px; /* Adjust as needed for spacing */
}

/* iframe */
iframe {
  border: none;
  height: 800px;
}


*/
#top-tokens-barchart {
  z-index: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 400px;
}

.active_path {
  font-weight: bold;
}

.active_path::before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  padding-right: 10px;
  font-weight: 900;
}

.badge {
  background-color: #9bc8e5;
  color: black;
}

.spinner-border {
  animation-duration: 1s;
}
