{% extends 'base.html' %}

{% block content %}
    <h1>Eksploruj</h1>
    {% if d.is_selected %}
    <form action="" method="POST">
        <h3>Wyświetl najczęstsze słowa i ngramy</h3>
        <p>Zacznijmy od czegoś prostego. Korzystając z formularza możesz wyświetlić najczęściej występujące w tekście słowa i zbitki słów (tzw. ngramy).</p>
        {{ ngrams_form.hidden_tag() }}
        {{ ngrams_form.ngram.label }} {{ ngrams_form.ngram }}<br>
        {{ ngrams_form.submit }}
    </form>

    <canvas id="top-tokens-barchart" height="550"></canvas>
    {% else %}
        <p>Nic tu nie ma.</p>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let tokens = {{top_words["tokens"]|tojson|safe}}
        let token_counts = {{top_words["counts"]|tojson|safe}}
        const ngrams_field = document.querySelector("#ngram")

        ngrams_field.addEventListener("change", () => {

            if (ngrams_field.value == "words") {
                tokens = {{top_words["tokens"]|tojson|safe}}
                token_counts = {{top_words["counts"]|tojson|safe}}
            }
            if (ngrams_field.value == "bigrams") {
                tokens = {{top_bigrams["tokens"]|tojson|safe}}
                token_counts = {{top_bigrams["counts"]|tojson|safe}}
            }
            if (ngrams_field.value == "trigrams") {
                tokens = {{top_trigrams["tokens"]|tojson|safe}}
                token_counts = {{top_trigrams["counts"]|tojson|safe}}
            }
        })
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/top_tokens_barchart.js') }}"></script>
{% endblock %}