{% extends 'base.html' %}

{% block content %}

<div class="py-2">
    <h1>Wczytaj dane</h1>
    <p class="mb-3">Ta aplikacja pozwoli Ci przeanalizować nieustrukturyzowane dane tekstowe.</p>
    <p class="mb-3">Mogą to być na przykład otwarte odpowiedzi respondentów w sondażu, wpisy na forum internetowym lub krótkie dokumenty.</p>
    <p class="mb-3">Zacznijmy od załadowania danych.</p>
</div>

<div class="mb-4">
    <form method="POST" id="load_ls">
        <h3>Wczytaj dane z LimeSurvey</h3>
        <p>Wczytaj dane bezpośrednio z serwera LimeSurvey Stoczni. Pobranie danych może zająć od kilku do kilkunastu sekund.</p>
        {{ data_selection_form.hidden_tag() }}
        <div class="mb-3">
            {{ data_selection_form.input_survey_number.label(class="form-label") }}
            {{ data_selection_form.input_survey_number(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ data_selection_form.input_survey_column.label(class="form-label") }}
            {{ data_selection_form.input_survey_column(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ data_selection_form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<div class="mb-4">
    <form method="POST" id="load_file" enctype="multipart/form-data">
        <h3>Wczytaj dane z pliku</h3>
        <p class="mb-3">Wczytaj dane z lokalnego pliku. Dopuszczalne formaty: .csv, .txt, .xlsx i .xls</p>
        <div class="mb-3">
            <button type="button" id="load_file_button" class="btn btn-secondary" onclick="document.getElementById('file').click();">Wczytaj plik</button>
            <input type="file" id="file" name="file" style="display:none;" onchange="displayFileInfo(this.files)">
        </div>
        <div id="fileInfo" class="mb-3"></div>
        <div class="mb-3">
            <label for="file_column" class="form-label">Wprowadź nazwę kolumny z tekstem:</label>
            <input type="text" class="form-control" id="file_column" name="file_column">
        </div>
        <div class="mb-3">
            <input name="upload_form_submit" type="submit" value="Zatwierdź" class="btn btn-primary" />
        </div>
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='js/display_file_info.js') }}"></script>
</div>

{% if d.data in d.possible_errors %}
    <p class="text-danger">{{ d.display_error_message() }}</p>
{% elif d.is_selected and not d.is_example %}
    <div class="table-responsive">
        {{ d.display_original_text_as_html_table()|safe }}
    </div>
{% endif %}

<div class="mb-4">
    <form method="POST" id="example_data_form">
        <h3>Wczytaj przykładowe dane</h3>
        <p class="mb-3">Możesz również wczytać udostępniony przez nas zbiór danych. Dane opisują ... Na tym przykładzie zobaczysz, jak działa proces czyszczenia, eksploracji i modelowania danych tekstowych.</p>
        {{ example_data_form.hidden_tag() }}
        <div class="mb-3">
            {{ example_data_form.submit_example(class="btn btn-info") }}
        </div>
    </form>
</div>

{% if d.is_selected and d.is_example %}
    <div class="table-responsive">
        <table class="table">
            {{ d.display_original_text_as_html_table()|safe }}
        </table>
    </div>
{% endif %}

{% endblock %}
