{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1>Transkrybuj</h1>
    <div class="card my-3">
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                {{ transcribe_form.hidden_tag() }}
                
                <p>Transkrypcja jest <em>płatną</em> usługą wykupioną przez Stocznię. Korzystaj z niej odpowiedzialnie.</em>
                <p><b>Koszt:</b> $0,37 za godzinę nagrania.</p>
                <p><b>Obsługiwane formaty audio:</b> mp3, mp4, mpeg, mpga, m4a, wav, webm.</p>
                <p><b>Minimalny czas transkrypcji:</b> ~ 0,008 czasu trwania nagrania.</p>
                <p><em>Rzeczywisty czas transkrypcji zależy od wielu czynników i może być dłuższy.</em></p>
                <div class="mb-3">
                    {{ transcribe_form.select_language.label(class="form-label") }}
                    {{ transcribe_form.select_language(class="form-select") }}
                </div>
                <div class="mb-3">
                    {{ transcribe_form.file_upload.label(class="form-label") }}
                    {{ transcribe_form.file_upload(class="form-control") }}
                </div>
                <div class="alert alert-warning" role="alert">
                    Wciśnięcie <em>Zleć transkrypcję</em> oznacza naliczenie opłaty.
                </div>
                <div>
                    {% if transcription_submitted %}
                        <div class="alert alert-success" role="alert">
                            Zlecono transkrypcję! Będzie dostępna w zakładce 
                            <a href="{{ url_for('retrieve_transcripts') }}">
                                <i class="fa-solid fa-database"></i>
                                Moje transkrypcje
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ transcribe_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
    <p>Automatyczna detekcja języka obsługuje języki angielski, hiszpański, francuski, niemiecki, włoski, portugalski i holenderski.</p>
    <p>Aby poprawnie zidentyfikować dominujący język, plik musi zawierać co najmniej 50 sekund mowy.</p>
    <p>Transkrypcje z języka ukraińskiego nie pozwalają na automatyczne rozróżnianie rozmówców.</p>
</div>

{% endblock %}