{% extends 'base.html' %}

{% block content %}
    <h1>Modeluj</h1>
    <div class="form-container">
        <form action="" method="POST" id="modeling-form">
            <h3>Zidentyfikuj tematy</h3>
            <br>
            {{ modeling_form.hidden_tag() }}
            {{ modeling_form.pca_radio.label }}<br>
            {% for subfield in modeling_form.pca_radio %}
                {{ subfield(style="margin-left:15px") }}
                {{ subfield.label }}
            {% endfor %}<br>
            <div class="pca">
                {{ modeling_form.standardize_pcs.label }}
                {% for subfield in modeling_form.standardize_pcs %}
                    {{ subfield(style="margin-left:15px") }}
                    {{ subfield.label }}
                {% endfor %}<br>
                {{ modeling_form.n_of_pcs_int.label }}
                {{ modeling_form.n_of_pcs_int }}<br>
            </div>
            {{ modeling_form.n_of_ks_int.label }}
            {{ modeling_form.n_of_ks_int }}<br>
            {{ modeling_form.submit_clustering }}
        </form>
    </div>

    {% if display_summary %}
    <h3>Podsumowanie</h3>
    <table>
        {{ w2v.display_cluster_summary()|safe }}
    </table>
    <h3>Wyniki</h3>
    <table>
        {{ w2v.display_results()|safe }}
    </table>
    {% endif %}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/pca_options_toggle.js') }}"></script>
{% endblock %}