{% extends 'model/base_model.html' %}

{% block model_type_and_params %}
<div class="container-fluid">
    <h1>Modeluj: LDA</h1>
    <div class="card my-3">
        <div class="card-body">
            <form method="POST" id="lda_coherence">
                <h3 class="card-title">Porównaj miary spójności klastrów</h3>
                {{ lda_coherence_form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ lda_coherence_form.start.label(class="form-label") }}
                        {{ lda_coherence_form.start(class="form-control") }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ lda_coherence_form.end.label(class="form-label") }}
                        {{ lda_coherence_form.end(class="form-control") }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ lda_coherence_form.step.label(class="form-label") }}
                        {{ lda_coherence_form.step(class="form-control") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ lda_coherence_form.no_above.label(class="form-label") }}
                        {{ lda_coherence_form.no_above(class="form-control") }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ lda_coherence_form.no_below.label(class="form-label") }}
                        {{ lda_coherence_form.no_below(class="form-control") }}
                    </div>
                </div>
                    {{ lda_coherence_form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block summary %}
<div class="container-fluid">
    <div class="card my-3">
        <div class="card-body">
            <form method="POST" id="lda_model">
                <h3 class="card-title">Stwórz model</h3>
                {{ lda_model_form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ lda_model_form.no_above.label(class="form-label") }}
                        {{ lda_model_form.no_above(class="form-control") }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ lda_model_form.no_below.label(class="form-label") }}
                        {{ lda_model_form.no_below(class="form-control") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ lda_model_form.n_iterations.label(class="form-label") }}
                        {{ lda_model_form.n_iterations(class="form-control") }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ lda_model_form.n_clusters.label(class="form-label") }}
                        {{ lda_model_form.n_clusters(class="form-control") }}
                    </div>
                </div>
                {{ lda_model_form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
    
    {% if lda_most_representative_words %}
    <div class="lda-most-representative-words">
        {{ lda_most_representative_words|safe }}
    </div>
    <div class="lda-summary-html">
        {{ lda_summary_html|safe }}
    </div>
    {% endif %}
</div>
{% endblock %}
